.about-me{
    margin-top: 120px;
    .container{
        position: relative;
    }
    &__wraper{
        width: 100%;
        display: grid;
        grid-template-columns: minmax(300px, 400px) minmax(200px, 670px);
        grid-template-rows:  minmax(255px, auto);
        grid-auto-rows: minmax(255px, auto);
        column-gap: 65px;
        row-gap: 40px;
    }
    &__background{
        img{
            max-width: 900px;
            width: 100%;
            transform: rotate(-45deg);
        }
        position: absolute;
        z-index: -2;
        top: -100px;
        left: -290px;
    }
    &__photo{
        img{
            width: 100%;
            border-radius: 80px;
            filter: brightness(80%);
        }
    }
    &__content{
        padding-top: 6px;
    }
    &__subtitle{
        margin-bottom: 6px;
    }
    &__text{
        color: $darkWhiteColor;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        margin-top: 20px;
    }
    &__list{
        display: grid;
        align-items: start;
        margin-top: 37px;
        grid-template:  1fr / repeat(2, minmax(150px,260px));
        column-gap: 50px;
        row-gap: 40px;
    }
    &__item{
        display: grid;
        column-gap: 20px;
        grid-template-columns: 40px minmax(150px,200px);
        &_subtitle{
            color: $darkWhiteColor;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
        }
        &_text{
            color: $darkWhiteColor;
            margin-top: 6px;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
        } 
    }
    .divider{
        margin-top: 0;
    }
    &__link{
        width: 25px;
        height: 25px;
        fill: $darkWhiteColor;
        margin: 6px 0 0 6px;
    }
    
}

