.contact{
    margin-top: 125px;
    .container{
        position: relative;
    }
    &__wrapper{
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: minmax(300px, 300px) minmax(200px, 350px);
        column-gap: 65px;
        row-gap: 40px;
    }
    &__background{
        img{
            max-width: 700px;
            width: 100%;
        }
        position: absolute;
        z-index: -2;
        top: -125px;
        left: -24px;
    }
    &__photo{
        img{
            width: 100%;
            border-radius: 80px;
            filter: brightness(80%);
        }
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        &__text{
            margin-top: 25px;
        }
        &__subtitle::before{
            left: 0 !important;
        }
    }
    .divider{
        margin: 0;
    }
    &__group-link{
        max-width: 70px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__link{
        width: 28px;
        height: 28px;
        fill: $darkWhiteColor;
        cursor: pointer;
    }

    &__text-link{
        &-title{
            color: $darkWhiteColor;
            margin-top: 40px;
            max-width: 100px;
            width: 100%;
            font-weight: 500;
            font-size: 18px;
            line-height: 18px;
            background-color: $mainColor;
            padding: 15px;
            border-radius: 10px;
            margin-bottom: 10px;
        }
        &-mail{
            color: $darkWhiteColor;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            background-color: none;
            padding: 0px;
            border-radius: 0px;
        }
    }
}
